<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>994561745503-cp8f3r09ir6kbbvubb1toes3j4jfma22.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.994561745503-cp8f3r09ir6kbbvubb1toes3j4jfma22</string>
	<key>API_KEY</key>
	<string>AIzaSyCWucsWnjAkPQjrDP9wXoruD52aBNPzlHQ</string>
	<key>GCM_SENDER_ID</key>
	<string>994561745503</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterFlashApp</string>
	<key>PROJECT_ID</key>
	<string>flutter-chat-app-6ae86</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-chat-app-6ae86.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:994561745503:ios:1618155da26e78bef031ea</string>
	<key>DATABASE_URL</key>
	<string>https://flutter-chat-app-6ae86-default-rtdb.firebaseio.com</string>
</dict>
</plist>